[submodule "libstb/crypto/mbedtls"]
	path = libstb/crypto/mbedtls
	url = https://github.com/ARMmbed/mbedtls
	branch = mbedtls-2.16
[submodule "libstb/ibmtpm20tss"]
	path = libstb/tss2/ibmtpm20tss
	url = ssh://git@github.ibm.com/maurosr/ibmtpm20tss
	branch = maurosr/tss-skiboot
